@use 'sass:color';
@import 'variables';
body {
    background-color: $color-fondo;
    overflow-x: hidden;
    h4 {
        color: $color-titulos;
    }
    #columnaDesplegable {
        background-color: color.adjust($color-fondo, $lightness: -8%);
    }
}