@use 'sass:color';
@import 'variables';
body {
    background-color: $colorFondo;
    overflow-x: hidden;
    h4 {
        color: $colorTitulos;
    }
    #columnaDesplegable {
        background-color: color.adjust($colorFondo, $lightness: -8%);
    }
}