@use 'sass:color';
@font-face {
    font-family: miFuente;
    src: url(../fonts/SassyFrass-Regular.ttf);
}
$fuenteSweetWeather: miFuente;
$colorFondo: #ADD8E6;
$colorTitulos: color.adjust(crimson, $lightness: -5%);